@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
.poppins {
    font-family: 'poppins', sans-serif;
}